<!-- app/views/shared/_header.html.erb -->
<header>
  <div class="logo">
    <%= link_to "My App", root_path %>
  </div>
  <nav>
    <%= link_to "Home", root_path %> | 
    <%= link_to "About", about_path %> | 
    <%= link_to "Contact", contact_path %>
  </nav>
</header>
